@charset "UTF-8";
html,
body {
  width: 100%;
  color: #525252;
  font-size: 100%;
  font-family: "Noto Serif JP", serif；; }

.l-width {
  width: 1240px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .l-width {
      width: 100%; } }
  @media screen and (max-width: 414px) {
    .l-width {
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box; } }

.lp-width {
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #525252; }

header {
  height: 70px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Noto Serif JP", serif;
  position: fixed;
  top: 0;
  z-index: 2; }
  header .sp-menu {
    display: none; }
    @media screen and (max-width: 414px) {
      header .sp-menu {
        width: 95%;
        display: block; } }
    header .sp-menu .hamburger-logo {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: fixed;
      width: 40px;
      height: 32px;
      z-index: 2;
      left: 20px;
      top: 20px; }
      header .sp-menu .hamburger-logo span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #000000ad;
        border-radius: 4px; }
        header .sp-menu .hamburger-logo span:nth-of-type(1) {
          top: 0; }
        header .sp-menu .hamburger-logo span:nth-of-type(2) {
          top: 14px; }
        header .sp-menu .hamburger-logo span:nth-of-type(3) {
          bottom: 0; }
      header .sp-menu .hamburger-logo.active span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg); }
      header .sp-menu .hamburger-logo.active span:nth-of-type(2) {
        opacity: 0; }
      header .sp-menu .hamburger-logo.active span:nth-of-type(3) {
        transform: translateY(-15px) rotate(45deg); }
    header .sp-menu .sp-menu-logo {
      width: 80px;
      margin: 0 auto;
      position: relative; }
      header .sp-menu .sp-menu-logo h1 {
        font-size: 2.5rem;
        text-align: center;
        position: absolute;
        top: 10px; }
    header .sp-menu .sp-header-four {
      background-color: black;
      width: 70px;
      display: block;
      position: absolute;
      right: 0; }
      header .sp-menu .sp-header-four a {
        display: block;
        color: white;
        height: 58px;
        line-height: 1.3;
        letter-spacing: 3px;
        padding-top: 13px;
        text-align: center;
        margin-right: 0; }
  header .header-one {
    float: left;
    width: 14%;
    line-height: 100px; }
    @media screen and (max-width: 414px) {
      header .header-one {
        display: none;
        box-sizing: border-box; } }
    header .header-one img {
      height: 34px;
      width: 120px; }
  header .header-two {
    float: left;
    width: 66%;
    margin-left: 5%; }
    @media screen and (max-width: 414px) {
      header .header-two {
        box-sizing: border-box;
        width: 100%; } }
    header .header-two .menu {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 414px) {
        header .header-two .menu {
          flex-direction: column;
          padding-top: 100px; } }
      header .header-two .menu-list {
        line-height: 70px;
        letter-spacing: 0.5; }
        @media screen and (max-width: 768px) {
          header .header-two .menu-list {
            width: 150px;
            font-size: .8rem; } }
      header .header-two .menu-link {
        display: inline;
        padding-right: 20px;
        padding-left: 20px; }
        @media screen and (max-width: 768px) {
          header .header-two .menu-link {
            padding: 0 0; }
            header .header-two .menu-link .only-you {
              display: block;
              line-height: 20px;
              padding-top: 20px;
              margin-right: 10px; } }
        @media screen and (max-width: 414px) {
          header .header-two .menu-link {
            display: block;
            text-align: center;
            transition: all .3s;
            font-weight: bold;
            color: black;
            border-right: none; } }

.header-three {
  float: left;
  width: 10%;
  line-height: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 414px) {
    .header-three {
      display: none;
      box-sizing: border-box; } }
  .header-three nav .lang {
    margin-right: 10px; }
    .header-three nav .lang-menu-one {
      display: block;
      border-bottom: 1px solid black;
      font-size: 0.8rem; }
      .header-three nav .lang-menu-one-detail {
        display: none;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.9); }
        .header-three nav .lang-menu-one-detail-too {
          padding-bottom: 2px;
          padding-left: 5px;
          border-bottom: 1px dotted black; }
          .header-three nav .lang-menu-one-detail-too:hover {
            background-color: black;
            color: #fff; }
    .header-three nav .lang-menu-two {
      display: block;
      border-bottom: 1px solid black;
      font-size: 0.8rem; }
      .header-three nav .lang-menu-two.non-active {
        display: none; }
      .header-three nav .lang-menu-two-detail {
        display: none;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.9); }
        .header-three nav .lang-menu-two-detail-too {
          padding-bottom: 2px;
          padding-left: 5px;
          border-bottom: 1px dotted black;
          font-size: .7rem; }
          .header-three nav .lang-menu-two-detail-too:hover {
            background-color: black;
            color: #fff; }

.header-four {
  float: left;
  background-color: black;
  width: 70px;
  height: 100%; }
  @media screen and (max-width: 414px) {
    .header-four {
      float: right;
      display: none; } }
  .header-four a {
    display: block;
    color: white;
    height: 60px;
    line-height: 1.3;
    letter-spacing: 3px;
    padding-top: 13px;
    text-align: center; }

@media screen and (max-width: 414px) {
  .js-toggle-hamburger-slidemenu {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(236, 241, 243, 0.5);
    width: 100%;
    height: 100vh;
    transition: .5s; }
    .js-toggle-hamburger-slidemenu.active {
      transition: .6s;
      transform: translateX(-100%);
      z-index: 1; } }

.container-notice {
  height: 450px;
  margin-top: 100px;
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 414px) {
    .container-notice {
      height: 800px;
      box-sizing: border-box; } }
  .container-notice .box {
    padding: 30px;
    height: 200px;
    border: 1px solid black;
    width: 90%;
    display: flex; }
    @media screen and (max-width: 768px) {
      .container-notice .box {
        width: 100%;
        box-sizing: border-box; } }
    @media screen and (max-width: 414px) {
      .container-notice .box {
        width: 100%;
        height: 650px;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column; } }
    .container-notice .box-text-one {
      flex-grow: 2;
      float: left;
      height: 170px;
      background-color: black;
      color: #fff;
      text-align: center;
      width: 300px; }
      .container-notice .box-text-one p {
        padding-top: 50px; }
      @media screen and (max-width: 768px) {
        .container-notice .box-text-one {
          width: 150px;
          height: 120px; }
          .container-notice .box-text-one p {
            font-size: .7rem; } }
      @media screen and (max-width: 414px) {
        .container-notice .box-text-one {
          width: 100%;
          height: 100px;
          float: none !important;
          box-sizing: border-box; }
          .container-notice .box-text-one p {
            line-height: 1.3;
            letter-spacing: .2rem;
            padding-top: 30px; } }
      .container-notice .box-text-one .comment-top {
        line-height: 1.3; }
    .container-notice .box-text-two {
      float: left;
      margin: 0 20px;
      height: 170px;
      position: relative;
      line-height: 2;
      flex-grow: 3; }
      @media screen and (max-width: 768px) {
        .container-notice .box-text-two {
          width: 50%;
          height: 140px; }
          .container-notice .box-text-two p {
            font-size: .7rem; } }
      @media screen and (max-width: 414px) {
        .container-notice .box-text-two {
          float: none !important;
          width: 100%;
          height: 300px;
          margin: 20px auto 0;
          box-sizing: border-box; } }
      .container-notice .box-text-two .detail {
        bottom: -30px; }
        @media screen and (max-width: 414px) {
          .container-notice .box-text-two .detail {
            margin-top: 20px;
            bottom: 0;
            display: block;
            text-align: center;
            box-sizing: border-box; } }
        .container-notice .box-text-two .detail a {
          color: red;
          text-decoration: underline; }
    .container-notice .box-image {
      float: left;
      height: 170px;
      flex-grow: 1; }
      @media screen and (max-width: 768px) {
        .container-notice .box-image {
          width: 150px;
          height: 130px; } }
      @media screen and (max-width: 414px) {
        .container-notice .box-image {
          width: 100%;
          float: none !important;
          height: 170px;
          margin: 0 auto 30px; } }
      .container-notice .box-image img {
        width: 220px;
        height: 160px;
        margin-bottom: 5px; }
        @media screen and (max-width: 768px) {
          .container-notice .box-image img {
            width: 160px;
            height: 120px; } }
        @media screen and (max-width: 414px) {
          .container-notice .box-image img {
            width: 100%;
            margin: 0 auto 10px;
            box-sizing: border-box; } }
      .container-notice .box-image p {
        font-size: 0.7rem;
        background-color: black;
        color: #fff;
        padding: 7px 2px;
        text-align: center;
        border-radius: 3px; }
        @media screen and (max-width: 768px) {
          .container-notice .box-image p {
            border-radius: 1px;
            width: 155px; } }

.bg-slider {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 414px) {
    .bg-slider {
      display: none; } }

.container-slider-and-reservation {
  /*background-image: url(../imgs/sample4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  height: 800px; }
  @media screen and (max-width: 768px) {
    .container-slider-and-reservation {
      height: 500px; } }
  .container-slider-and-reservation .contents {
    width: 100%;
    position: relative; }
    .container-slider-and-reservation .contents-top {
      position: absolute;
      top: -200px;
      left: 45%;
      width: 100px;
      height: 300px;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        .container-slider-and-reservation .contents-top {
          left: 40%; } }
      @media screen and (max-width: 414px) {
        .container-slider-and-reservation .contents-top {
          left: 35%;
          top: -350px; } }
      .container-slider-and-reservation .contents-top h2 {
        writing-mode: vertical-rl;
        font-size: 2.5rem;
        color: #fff;
        line-height: 1.2;
        letter-spacing: 1.2;
        text-shadow: 3px 3px 6px black; }
    .container-slider-and-reservation .contents-middle {
      position: absolute;
      top: 0px;
      left: 35%;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        .container-slider-and-reservation .contents-middle {
          left: 25%; } }
      @media screen and (max-width: 414px) {
        .container-slider-and-reservation .contents-middle {
          left: 15%;
          top: -150px; } }
      .container-slider-and-reservation .contents-middle h2 {
        font-size: 30px;
        color: #fff;
        letter-spacing: 5px;
        line-height: 1.3;
        text-shadow: 3px 3px 6px black; }
        @media screen and (max-width: 414px) {
          .container-slider-and-reservation .contents-middle h2 {
            font-size: 22px; } }
    .container-slider-and-reservation .contents-bottom {
      position: absolute;
      top: 100px;
      left: 35%;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        .container-slider-and-reservation .contents-bottom {
          left: 25%; } }
      @media screen and (max-width: 414px) {
        .container-slider-and-reservation .contents-bottom {
          top: 100px;
          left: 14%; } }
      .container-slider-and-reservation .contents-bottom a {
        display: block;
        color: #fff;
        background-color: black;
        border: 1px solid #fff;
        padding: 10px 15px;
        width: 400px;
        text-align: center; }
        @media screen and (max-width: 414px) {
          .container-slider-and-reservation .contents-bottom a {
            width: 300px;
            box-sizing: border-box;
            font-size: .9rem; } }
    .container-slider-and-reservation .contents .reservation-one {
      position: absolute;
      top: 300px;
      left: 25%; }
      @media screen and (max-width: 768px) {
        .container-slider-and-reservation .contents .reservation-one {
          top: 160px;
          left: 18%; } }
      @media screen and (max-width: 414px) {
        .container-slider-and-reservation .contents .reservation-one {
          top: 220px;
          left: 17%; } }
      .container-slider-and-reservation .contents .reservation-one .calender {
        width: 270px;
        height: 50px;
        padding-right: 1px;
        padding-left: 0;
        font-size: 20px;
        text-align: center;
        margin-bottom: 2px; }
        @media screen and (max-width: 768px) {
          .container-slider-and-reservation .contents .reservation-one .calender {
            width: 240px;
            height: 40px;
            font-size: 15px; } }
      .container-slider-and-reservation .contents .reservation-one .stay-days {
        width: 130px;
        height: 50px;
        padding-right: 1px;
        padding-left: 0;
        font-size: 20px;
        text-align: center;
        position: relative; }
        @media screen and (max-width: 768px) {
          .container-slider-and-reservation .contents .reservation-one .stay-days {
            width: 100px;
            height: 40px;
            font-size: 15px; } }
        @media screen and (max-width: 414px) {
          .container-slider-and-reservation .contents .reservation-one .stay-days {
            width: 135px; } }
      .container-slider-and-reservation .contents .reservation-one .how-many {
        width: 130px;
        height: 50px;
        padding-right: 1px;
        padding-left: 0;
        font-size: 20px;
        text-align: center; }
        @media screen and (max-width: 768px) {
          .container-slider-and-reservation .contents .reservation-one .how-many {
            width: 100px;
            height: 40px;
            font-size: 15px; } }
        @media screen and (max-width: 414px) {
          .container-slider-and-reservation .contents .reservation-one .how-many {
            width: 134px;
            margin-left: -3px; } }
      .container-slider-and-reservation .contents .reservation-one .search {
        width: 200px;
        height: 50px;
        display: inline-block;
        background-color: black;
        color: #fff;
        font-size: 20px;
        padding: 1px 6px;
        text-align: center;
        line-height: 50px;
        position: absolute;
        left: 545px;
        box-sizing: border-box;
        border: none; }
        @media screen and (max-width: 768px) {
          .container-slider-and-reservation .contents .reservation-one .search {
            width: 100px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            left: 450px; } }
        @media screen and (max-width: 414px) {
          .container-slider-and-reservation .contents .reservation-one .search {
            display: block;
            width: 269px;
            left: 0;
            box-sizing: border-box;
            margin-top: 2px; } }

.account-top-bg-image {
  height: 30px;
  background-image: url(../imgs/bg-image.png);
  background-position: center;
  background-size: cover; }

.container-account .account-box {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 60px; }
  @media screen and (max-width: 414px) {
    .container-account .account-box {
      flex-direction: column;
      box-sizing: border-box;
      padding-bottom: 30px; } }
  @media screen and (max-width: 414px) {
    .container-account .account-box .campain {
      margin-bottom: 10px;
      box-sizing: border-box; } }
  .container-account .account-box .campain a {
    color: #fff;
    display: block;
    line-height: 1.3;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    background-color: black; }
    @media screen and (max-width: 768px) {
      .container-account .account-box .campain a {
        width: 320px; } }
    @media screen and (max-width: 414px) {
      .container-account .account-box .campain a {
        width: 90%;
        font-size: .8rem;
        margin: 0 auto; } }
  .container-account .account-box .account a {
    color: #fff;
    display: block;
    line-height: 1.3;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    background-color: black; }
    @media screen and (max-width: 768px) {
      .container-account .account-box .account a {
        width: 320px;
        padding: 10px 25px; } }
    @media screen and (max-width: 414px) {
      .container-account .account-box .account a {
        width: 90%;
        font-size: .8rem;
        margin: 0 auto; } }

.container-detail {
  padding-bottom: 100px; }
  .container-detail .detail {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 414px) {
      .container-detail .detail {
        align-content: flex-end;
        box-sizing: border-box;
        width: 50%;
        margin: 0 auto; } }
    .container-detail .detail-list {
      width: 300px;
      height: 14px;
      border-right: 1px solid #2c1f19;
      text-align: center; }
      @media screen and (max-width: 414px) {
        .container-detail .detail-list {
          margin-bottom: 10px;
          border-right: none;
          box-sizing: border-box; } }
    .container-detail .detail-first {
      border-left: 1px solid black; }
      @media screen and (max-width: 414px) {
        .container-detail .detail-first {
          border-left: none;
          box-sizing: border-box; } }
    .container-detail .detail-link {
      display: inline-block;
      color: black; }

.container-about-hakone {
  background-image: url(../imgs/sample_wood.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  margin-bottom: 120px; }
  @media screen and (max-width: 414px) {
    .container-about-hakone {
      height: 1300px; } }
  .container-about-hakone .heading h2 {
    margin: 0px 0 60px;
    padding: 100px 0 30px;
    font-size: 27px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px black; }
  .container-about-hakone .variety-top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px; }
    @media screen and (max-width: 414px) {
      .container-about-hakone .variety-top {
        flex-direction: column;
        box-sizing: border-box;
        margin-right: 40px;
        margin-left: 40px;
        padding-bottom: 0; } }
    .container-about-hakone .variety-top .variety-box {
      display: block;
      position: relative;
      color: #fff;
      border: 1px solid darkgrey;
      padding: 2px 2px 1px; }
      @media screen and (max-width: 414px) {
        .container-about-hakone .variety-top .variety-box {
          height: 170px;
          margin-bottom: 30px; } }
      .container-about-hakone .variety-top .variety-box-theme {
        font-size: 1.6rem;
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px solid #fff;
        padding: 5px; }
        @media screen and (max-width: 768px) {
          .container-about-hakone .variety-top .variety-box-theme {
            font-size: 1.2rem;
            top: 20px; } }
        @media screen and (max-width: 414px) {
          .container-about-hakone .variety-top .variety-box-theme {
            box-shadow: 0 0 2px black; } }
      .container-about-hakone .variety-top .variety-box-image {
        width: 560px;
        height: 300px; }
        @media screen and (max-width: 768px) {
          .container-about-hakone .variety-top .variety-box-image {
            width: 330px;
            height: 200px; } }
        @media screen and (max-width: 414px) {
          .container-about-hakone .variety-top .variety-box-image {
            box-sizing: border-box;
            width: 100%;
            height: 100%; } }
      .container-about-hakone .variety-top .variety-box-text {
        font-size: 1.2rem;
        position: absolute;
        bottom: 30px;
        left: 30px; }
        @media screen and (max-width: 414px) {
          .container-about-hakone .variety-top .variety-box-text {
            text-shadow: 0 0 1px black; } }
  .container-about-hakone .variety-bottom {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 414px) {
      .container-about-hakone .variety-bottom {
        flex-direction: column;
        box-sizing: border-box;
        margin-right: 40px;
        margin-left: 40px; } }
    .container-about-hakone .variety-bottom .variety-box {
      display: block;
      position: relative;
      color: #fff;
      border: 1px solid darkgrey;
      padding: 2px 2px 1px;
      margin-bottom: 30px; }
      .container-about-hakone .variety-bottom .variety-box-theme {
        font-size: 1.6rem;
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px solid #fff;
        padding: 5px; }
        @media screen and (max-width: 768px) {
          .container-about-hakone .variety-bottom .variety-box-theme {
            font-size: 1rem;
            top: 20px;
            left: 20px; } }
        @media screen and (max-width: 414px) {
          .container-about-hakone .variety-bottom .variety-box-theme {
            box-shadow: 0 0 2px black; } }
      .container-about-hakone .variety-bottom .variety-box-image {
        width: 360px;
        height: 280px; }
        @media screen and (max-width: 768px) {
          .container-about-hakone .variety-bottom .variety-box-image {
            width: 200px;
            height: 150px; } }
        @media screen and (max-width: 414px) {
          .container-about-hakone .variety-bottom .variety-box-image {
            width: 100%;
            height: 100%;
            box-sizing: border-box; } }
      .container-about-hakone .variety-bottom .variety-box-text {
        font-size: 1.2rem;
        position: absolute;
        bottom: 30px;
        left: 30px; }
        @media screen and (max-width: 768px) {
          .container-about-hakone .variety-bottom .variety-box-text {
            font-size: .9rem;
            left: 20px; } }
        @media screen and (max-width: 414px) {
          .container-about-hakone .variety-bottom .variety-box-text {
            text-shadow: 0 0 1px black; } }

.container-about-plan {
  margin-bottom: 80px; }
  .container-about-plan .heading {
    width: 100%;
    text-align: center;
    margin-bottom: 60px; }
    @media screen and (max-width: 414px) {
      .container-about-plan .heading {
        width: 90%;
        margin: 0 auto 60px; } }
    .container-about-plan .heading h2 {
      margin-bottom: 30px;
      font-size: 1.6rem; }
      @media screen and (max-width: 414px) {
        .container-about-plan .heading h2 {
          font-size: 1.4rem; } }
    .container-about-plan .heading p {
      font-size: 1.2rem;
      border-bottom: 1px dotted black;
      width: 240px;
      margin: 0 auto;
      padding-bottom: 5px;
      text-align: center; }
  .container-about-plan .plan-recommended {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 80px; }
    .container-about-plan .plan-recommended a {
      display: block;
      width: 585px;
      height: 220px;
      margin: 0 auto;
      border: 1px solid black;
      position: relative; }
      @media screen and (max-width: 414px) {
        .container-about-plan .plan-recommended a {
          width: 95%;
          height: 180px;
          box-sizing: border-box; } }
      .container-about-plan .plan-recommended a img {
        width: 585px;
        height: 220px; }
        @media screen and (max-width: 414px) {
          .container-about-plan .plan-recommended a img {
            width: 100%;
            height: 180px;
            box-sizing: border-box; } }
      .container-about-plan .plan-recommended a .thambnail-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 0;
        transition: all .3s; }
        .container-about-plan .plan-recommended a .thambnail-cover:hover {
          opacity: 1;
          transition: all .3s;
          border: 1px solid darkgray; }
  .container-about-plan .plan-normal-menu {
    display: flex; }
    @media screen and (max-width: 768px) {
      .container-about-plan .plan-normal-menu {
        flex-wrap: wrap;
        justify-content: space-evenly; } }
    @media screen and (max-width: 414px) {
      .container-about-plan .plan-normal-menu {
        flex-direction: column;
        box-sizing: border-box; } }
    .container-about-plan .plan-normal-menu-list {
      margin-right: 1px; }
      @media screen and (max-width: 768px) {
        .container-about-plan .plan-normal-menu-list {
          margin-bottom: 20px; } }
      @media screen and (max-width: 414px) {
        .container-about-plan .plan-normal-menu-list {
          margin-bottom: 1px; } }
      .container-about-plan .plan-normal-menu-list a {
        position: relative;
        display: block;
        width: 300px;
        height: 350px; }
        @media screen and (max-width: 414px) {
          .container-about-plan .plan-normal-menu-list a {
            width: 100%;
            box-sizing: border-box; } }
        .container-about-plan .plan-normal-menu-list a .fa-square {
          position: absolute;
          top: 50px;
          left: 139px;
          color: rgba(255, 255, 255, 0.7);
          transform: rotate(45deg); }
          @media screen and (max-width: 414px) {
            .container-about-plan .plan-normal-menu-list a .fa-square {
              left: 175px; } }
        .container-about-plan .plan-normal-menu-list a .fa-original {
          position: absolute;
          top: 50px;
          left: 144px;
          color: rgba(255, 255, 255, 0.7);
          transform: rotate(45deg); }
          @media screen and (max-width: 414px) {
            .container-about-plan .plan-normal-menu-list a .fa-original {
              left: 185px; } }
        .container-about-plan .plan-normal-menu-list a h4 {
          position: absolute;
          top: 40px;
          left: 125px;
          writing-mode: vertical-rl;
          color: rgba(255, 255, 255, 0.7);
          font-size: 1.3rem;
          border: 1px solid #fff;
          padding: 35px 10px 10px;
          min-height: 167px;
          opacity: .8;
          transition: all .2s; }
          @media screen and (max-width: 414px) {
            .container-about-plan .plan-normal-menu-list a h4 {
              left: 160px; } }
          .container-about-plan .plan-normal-menu-list a h4:hover {
            opacity: .5;
            transition: all .2s; }
        .container-about-plan .plan-normal-menu-list a img {
          width: 100%;
          height: 100%; }
        .container-about-plan .plan-normal-menu-list a p {
          position: absolute;
          top: 270px;
          left: 30px;
          color: #fff;
          font-style: italic;
          font-size: 1.2rem;
          line-height: 1.2; }
          @media screen and (max-width: 414px) {
            .container-about-plan .plan-normal-menu-list a p {
              left: 25%; } }

.container-latest-news .c-width {
  width: 800px;
  height: 600px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .container-latest-news .c-width {
      width: 100%; } }
  @media screen and (max-width: 414px) {
    .container-latest-news .c-width {
      width: 100%;
      height: 700px;
      box-sizing: border-box; } }

.container-latest-news .heading {
  padding-top: 50px;
  position: relative; }
  .container-latest-news .heading .fa-square {
    position: absolute;
    top: 20px;
    left: 400px;
    font-size: 35px;
    color: rgba(58, 54, 54, 0.7);
    transform: rotate(45deg); }
    @media screen and (max-width: 414px) {
      .container-latest-news .heading .fa-square {
        left: 45%; } }
  .container-latest-news .heading h2 {
    margin: 30px 0 30px;
    font-size: 1.7rem;
    text-align: center; }

.container-latest-news .table {
  border-collapse: separate;
  border-spacing: 12px 20px; }
  .container-latest-news .table-date {
    color: #fff;
    background-color: black;
    font-size: .7rem;
    margin-right: 3px;
    text-align: center;
    width: 100px; }
  .container-latest-news .table-theme {
    color: #fff;
    background-color: black;
    font-size: .6rem;
    text-align: center;
    width: 120px;
    height: 20px;
    line-height: 20px; }
  @media screen and (max-width: 414px) {
    .container-latest-news .table-content {
      display: none; } }
  .container-latest-news .table-content a {
    display: block;
    font-size: .7rem;
    text-decoration: underline; }
  .container-latest-news .table-content-sp {
    display: none; }
    @media screen and (max-width: 414px) {
      .container-latest-news .table-content-sp {
        display: block; }
        .container-latest-news .table-content-sp a {
          display: block;
          font-size: 1rem;
          text-decoration: underline !important; } }

.container-latest-news .motto {
  width: 100%; }
  .container-latest-news .motto a {
    display: block;
    text-align: right;
    border-bottom: 2px dotted black;
    width: 100px;
    padding-bottom: 3px;
    margin-top: 30px;
    font-size: 1.2rem;
    float: right; }
    @media screen and (max-width: 768px) {
      .container-latest-news .motto a {
        margin-right: 50px;
        font-size: 1rem; } }
    @media screen and (max-width: 414px) {
      .container-latest-news .motto a {
        margin-right: 20px; } }

.container-infor {
  width: 100%;
  height: 550px; }
  @media screen and (max-width: 414px) {
    .container-infor {
      height: 900px;
      box-sizing: border-box; } }
  .container-infor .heading {
    text-align: center;
    margin: 100px auto 50px; }
    .container-infor .heading h2 {
      font-size: 1.7rem; }
  .container-infor .arrow-right, .container-infor .arrow-left {
    position: relative; }
    @media screen and (max-width: 414px) {
      .container-infor .arrow-right, .container-infor .arrow-left {
        display: none; } }
  .container-infor .slider__nav {
    color: black;
    position: absolute;
    top: 180px;
    font-size: 40px !important;
    cursor: pointer;
    z-index: 0; }
  .container-infor .slider__prev {
    left: -20px; }
    @media screen and (max-width: 768px) {
      .container-infor .slider__prev {
        left: 100px;
        top: -80px; } }
  .container-infor .slider__next {
    right: 20px; }
    @media screen and (max-width: 768px) {
      .container-infor .slider__next {
        right: 100px;
        top: -75px; } }
  .container-infor .flame {
    width: 1200px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .container-infor .flame {
        width: 85%;
        margin: 0 auto; } }
    @media screen and (max-width: 414px) {
      .container-infor .flame {
        overflow: visible;
        width: 100%; } }
  .container-infor .slider {
    padding: 0;
    overflow: hidden;
    margin: 0;
    list-style: none;
    position: relative; }
    @media screen and (max-width: 414px) {
      .container-infor .slider {
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box; } }
    .container-infor .slider .infor-box {
      float: left; }
      @media screen and (max-width: 414px) {
        .container-infor .slider .infor-box {
          width: 40%;
          margin-right: 10px; } }
    .container-infor .slider .inner-box {
      display: block;
      padding: 0 40px;
      width: 400px;
      box-sizing: border-box;
      position: relative; }
      @media screen and (max-width: 768px) {
        .container-infor .slider .inner-box {
          width: 50%; } }
      @media screen and (max-width: 414px) {
        .container-infor .slider .inner-box {
          width: 95%;
          box-sizing: border-box;
          margin-bottom: 10px; } }
      .container-infor .slider .inner-box-date {
        font-size: .85rem; }
        @media screen and (max-width: 414px) {
          .container-infor .slider .inner-box-date {
            margin-bottom: 10px;
            margin-left: 10px; } }
      .container-infor .slider .inner-box-thambnail-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 0;
        transition: all .3s; }
        @media screen and (max-width: 768px) {
          .container-infor .slider .inner-box-thambnail-cover {
            display: none; } }
        .container-infor .slider .inner-box-thambnail-cover:hover {
          opacity: 1;
          transition: all .3s; }
      .container-infor .slider .inner-box-image {
        width: 300px;
        height: 320px; }
        @media screen and (max-width: 768px) {
          .container-infor .slider .inner-box-image {
            width: 270px;
            height: 220px; } }
        @media screen and (max-width: 414px) {
          .container-infor .slider .inner-box-image {
            width: 150px;
            height: 160px;
            border-radius: 15%; } }
      .container-infor .slider .inner-box-theme {
        width: 100px;
        height: 20px;
        box-sizing: border-box;
        background-color: black;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-size: 0.9rem;
        margin-bottom: 15px; }
        @media screen and (max-width: 414px) {
          .container-infor .slider .inner-box-theme {
            font-size: .7rem;
            width: 70px;
            margin-top: 5px; } }
      .container-infor .slider .inner-box-content {
        font-size: 1.1rem; }
        @media screen and (max-width: 414px) {
          .container-infor .slider .inner-box-content {
            font-size: .7rem;
            width: 150px; } }
  .container-infor .motto {
    width: 100%; }
    .container-infor .motto a {
      display: block;
      text-align: right;
      border-bottom: 2px dotted black;
      width: 100px;
      padding-bottom: 3px;
      margin-top: 30px;
      font-size: 1.2rem;
      float: right;
      margin-right: 70px; }
      @media screen and (max-width: 414px) {
        .container-infor .motto a {
          font-size: .8rem;
          margin-right: 40px; } }

.container-to-hakone {
  width: 100%;
  margin: 0 auto; }
  .container-to-hakone .heading {
    text-align: center;
    margin: 100px auto 100px; }
    .container-to-hakone .heading h2 {
      font-size: 1.7rem; }
  .container-to-hakone .contents-direction {
    height: 700px;
    display: flex; }
    @media screen and (max-width: 414px) {
      .container-to-hakone .contents-direction {
        flex-direction: column;
        box-sizing: border-box; } }
    .container-to-hakone .contents-direction-image {
      background-color: grey;
      width: 600px;
      height: 600px;
      margin-right: 50px; }
      @media screen and (max-width: 414px) {
        .container-to-hakone .contents-direction-image {
          width: 90%;
          height: 400px;
          margin: 0 auto;
          box-sizing: border-box; } }
    .container-to-hakone .contents-direction-text {
      position: relative;
      width: 600px;
      height: 600px; }
      @media screen and (max-width: 414px) {
        .container-to-hakone .contents-direction-text {
          width: 100%;
          height: 270px;
          box-sizing: border-box; } }
      .container-to-hakone .contents-direction-text h3 {
        font-size: 2rem;
        letter-spacing: .2rem;
        line-height: 1.3; }
        @media screen and (max-width: 414px) {
          .container-to-hakone .contents-direction-text h3 {
            font-size: 1.2rem;
            box-sizing: border-box;
            text-align: center;
            padding-top: 20px; } }
      .container-to-hakone .contents-direction-text a {
        display: block;
        width: 400px;
        height: 50px;
        background-color: black;
        color: #fff;
        text-align: center;
        line-height: 50px; }
        @media screen and (max-width: 414px) {
          .container-to-hakone .contents-direction-text a {
            width: 200px;
            box-sizing: border-box;
            text-align: center;
            margin: 30px auto 0; } }
  .container-to-hakone .contents-ohters {
    width: 100%; }
    .container-to-hakone .contents-ohters .menu {
      display: flex;
      justify-content: space-around; }
      @media screen and (max-width: 768px) {
        .container-to-hakone .contents-ohters .menu {
          flex-wrap: wrap;
          justify-content: space-evenly; } }
      @media screen and (max-width: 414px) {
        .container-to-hakone .contents-ohters .menu {
          flex-direction: column;
          box-sizing: border-box; } }
      .container-to-hakone .contents-ohters .menu-link {
        display: block;
        background-color: gray;
        width: 260px;
        height: 110px;
        color: #fff;
        line-height: 110px;
        text-align: center;
        border-radius: 5px;
        position: relative; }
        @media screen and (max-width: 768px) {
          .container-to-hakone .contents-ohters .menu-link {
            width: 350px;
            margin-bottom: 20px; } }
        @media screen and (max-width: 414px) {
          .container-to-hakone .contents-ohters .menu-link {
            margin: 0 auto 10px;
            box-sizing: border-box; } }
        .container-to-hakone .contents-ohters .menu-link .fa-square {
          position: absolute;
          top: 42px;
          left: 50px;
          color: rgba(255, 255, 255, 0.7);
          transform: rotate(45deg);
          font-size: 1.5rem; }

.container-instagram {
  width: 100%;
  margin: 0 auto; }
  .container-instagram .heading {
    text-align: center;
    margin: 100px auto 100px; }
    .container-instagram .heading h2 {
      font-size: 1.7rem; }
  .container-instagram .img-box {
    display: flex;
    height: 340;
    justify-content: center;
    margin-bottom: 100px; }
    @media screen and (max-width: 768px) {
      .container-instagram .img-box {
        flex-wrap: wrap; } }
    .container-instagram .img-box-indivisual {
      position: relative; }
      @media screen and (max-width: 414px) {
        .container-instagram .img-box-indivisual {
          flex-basis: 50%; } }
      .container-instagram .img-box-indivisual-text {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        height: 60px;
        width: 250px;
        position: absolute;
        top: 0;
        left: 0;
        display: none; }
        .container-instagram .img-box-indivisual-text p {
          padding: 5px 5px;
          letter-spacing: .1rem;
          line-height: 1.3rem; }
      .container-instagram .img-box-indivisual img {
        height: 230px;
        width: 250px; }
        @media screen and (max-width: 414px) {
          .container-instagram .img-box-indivisual img {
            width: 100%;
            height: 100%; } }

.container-search-two {
  background-color: #efecdf;
  height: 100px;
  padding-top: 30px;
  border-bottom: #c6c6c6 1px solid; }
  @media screen and (max-width: 414px) {
    .container-search-two {
      height: 180px; } }
  .container-search-two .reservation-two {
    text-align: center; }
    @media screen and (max-width: 414px) {
      .container-search-two .reservation-two {
        top: 220px;
        left: 17%; } }
    .container-search-two .reservation-two .calender {
      width: 270px;
      height: 50px;
      padding-right: 1px;
      padding-left: 0;
      font-size: 20px;
      text-align: center;
      border: none; }
      @media screen and (max-width: 414px) {
        .container-search-two .reservation-two .calender {
          margin-left: 5px;
          margin-bottom: 2px; } }
    .container-search-two .reservation-two .stay-days {
      width: 130px;
      height: 50px;
      padding-right: 1px;
      padding-left: 0;
      font-size: 20px;
      text-align: center;
      border: none; }
      @media screen and (max-width: 414px) {
        .container-search-two .reservation-two .stay-days {
          width: 135px;
          margin-left: 5px;
          margin-bottom: 2px; } }
    .container-search-two .reservation-two .how-many {
      width: 130px;
      height: 50px;
      padding-right: 1px;
      padding-left: 0;
      font-size: 20px;
      text-align: center;
      border: none; }
      @media screen and (max-width: 414px) {
        .container-search-two .reservation-two .how-many {
          width: 134px;
          margin-left: -3px; } }
    .container-search-two .reservation-two .search {
      width: 200px;
      height: 50px;
      display: inline-block;
      background-color: black;
      color: #fff;
      font-size: 20px;
      padding: 1px 6px;
      text-align: center;
      line-height: 50px;
      border: none;
      box-sizing: border-box; }
      @media screen and (max-width: 414px) {
        .container-search-two .reservation-two .search {
          display: block;
          width: 269px;
          left: 0;
          box-sizing: border-box;
          margin-left: 15%; } }

.container-contact {
  background-color: #efecdf;
  height: 600px; }
  .container-contact .detail {
    text-align: center;
    padding-top: 20px; }
    .container-contact .detail .name {
      font-size: 1.8rem;
      padding-bottom: 20px; }
      .container-contact .detail .name span {
        font-size: 3rem; }
    .container-contact .detail .tel {
      display: inline-block;
      font-size: 1.5rem;
      padding-bottom: 5px; }
    .container-contact .detail .center {
      display: inline-block;
      font-size: 1rem;
      padding-bottom: 5px; }
    .container-contact .detail .business-time {
      padding-bottom: 30px; }
    .container-contact .detail .trip-adviser-logo img {
      width: 150px;
      height: 120px; }
    .container-contact .detail p {
      margin-top: 15px;
      line-height: 2;
      font-size: .7rem; }
    @media screen and (max-width: 414px) {
      .container-contact .detail .last-sentence {
        width: 80%;
        margin: 10px auto 0; } }
    .container-contact .detail .logos {
      display: flex;
      justify-content: center; }
      .container-contact .detail .logos a {
        font-size: 1.5rem;
        padding-right: 10px;
        padding-top: 10px; }

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
  font-size: .8rem;
  margin: 0; }
  .footer-middle {
    width: 500px; }
    .footer-middle ul li {
      margin-bottom: 10px; }
    @media screen and (max-width: 414px) {
      .footer-middle {
        z-index: 1; } }
  @media screen and (max-width: 414px) {
    .footer-right {
      z-index: 1;
      text-align: center;
      line-height: 1.5; } }
