//色もの
$font-color_default: #525252;
//font family
 $font-family_corp:'Noto Serif JP', serif;
//font-size
//responsive
$breakpoints: (
  "sm": "screen and (max-width: 414px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-wdith: 1200px)",
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}
//base
html,
body {
  width: 100%;
  color: $font-color_default;
  font-size: 100%;
  font-family: "Noto Serif JP", serif；
}
//smacss
//----------------
//layout
//----------------
.l-width {
  width: 1240px;
  margin: 0 auto;
  @include mq(md){
    width: 100%;
  }
  @include mq() {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
.lp-width {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $font-color_default;
}

//----------------
//header
//----------------
header {
  height: 70px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: $font-family_corp;
  position: fixed;
  z-index: 2;
  
  //hamburgerメニュー
  .sp-menu{
    display: none;
    @include mq(){
      width: 95%;
      display: block;
    }
    //hamburgerメニューロゴ作成
    .hamburger-logo{
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: fixed;
      width: 40px;
      height: 32px;
      z-index: 2;
      left: 20px;
      top: 20px;
      span{
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color:#000000ad;
        border-radius: 4px;
        &:nth-of-type(1){
          top: 0;
        }
        &:nth-of-type(2){
          top: 14px;
        }
        &:nth-of-type(3){
          bottom: 0;
        }
      }
      //hamburgerメニューロゴ作成　クリック時
      &.active span{
        &:nth-of-type(1){
          transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:nth-of-type(3){
          transform: translateY(-15px) rotate(45deg);
        }
      }
    }
    .sp-menu-logo{
      width: 80px;
      margin: 0 auto;
      position: relative;
      h1{
        font-size: 2.5rem;
        text-align: center;
        position: absolute;
        top: 10px;
      }
    }
    .sp-header-four {
      background-color: black;
      width: 70px;
      display: block;
      position:absolute;
      right: 0;
      a {
        display: block;
        color: white;
        height: 58px;
        line-height: 1.3;
        letter-spacing: 3px;
        padding-top: 13px;
        text-align: center;
        margin-right: 0;
      }
    }
  }
  
  .header-one {
    float: left;
    width: 14%;
    @include mq(){
    display: none;
     box-sizing: border-box;
    }
    line-height: 100px;
    img {
      height: 34px;
      width: 120px;
    }
  }
  .header-two {
    float: left;
    width: 66%;
    margin-left: 5%;
    @include mq(){
     
     box-sizing: border-box;
     width: 100%;
    }
    .menu {
      display: flex;
      justify-content: space-around;
      @include mq(){
            flex-direction: column;
            padding-top: 100px;
          }
      &-list {
        line-height: 70px;
        letter-spacing: 0.5;
        @include mq(md){
          width: 150px;
          font-size: .8rem;
        }
         
      }
      &-link {
        display: inline;
        padding-right: 20px;
        padding-left: 20px;
        @include mq(md){
            padding:0 0 ;
            .only-you{
              display: block;
              line-height: 20px;
              padding-top: 20px;
              margin-right: 10px;
            }
          }
        @include mq(){
            display: block;
            text-align: center;
            transition: all .3s;
            font-weight: bold;
            color: black;
            border-right: none;
          }
        }
      }
    }
  }
  .header-three {
    float: left;
    width: 10%;
    line-height: 30px;
    padding-left: 30px;
    @include mq(){
    display: none;
     box-sizing: border-box;
    }
    nav {
      .lang{
        margin-right: 10px;
        &-menu-one{
          display: block;
          border-bottom: 1px solid black;
          font-size: 0.8rem;
          &-detail{
            display: none;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.9);
           &-too{
             padding-bottom: 2px;
             padding-left: 5px;
             border-bottom: 1px dotted black;
             &:hover{
               background-color: black;
               color: #fff;   
             }
           } 
          }
        }
        &-menu-two{
          display: block;
          border-bottom: 1px solid black;
          font-size: 0.8rem;
          &.non-active{
            display: none;
          }
          &-detail{
            display: none;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.9);
           &-too{
             padding-bottom: 2px;
             padding-left: 5px;
             border-bottom: 1px dotted black;
             font-size: .7rem;
              &:hover{
               background-color: black;
               color: #fff;
               
             }
           }
          }
        }
      }
    }
    
  }
  .header-four {
    float: left;
    background-color: black;
    width: 70px;
    height: 100%;
    @include mq(){
     float: right;
     display: none;
    }
    a {
      display: block;
      color: white;
      height: 60px;
      line-height: 1.3;
      letter-spacing: 3px;
      padding-top: 13px;
      text-align: center;
    }
  }
//sp-menu-overview
@include mq(){
    .js-toggle-hamburger-slidemenu{
     
      position: absolute;
      top: 0;
      right: -100%;
      background-color: rgba(29, 137, 226, 0.2);
      width: 100%;
      height: 100vh;
      transition: .5s;
      &.active{
        
        transition: .6s;
        transform: translateX(-100%);
        z-index:1;
      }
    }
  }
//----------------
//お知らせ1
//----------------
.container-notice {
  height: 450px;
  background-image: url(../imgs/bg-image.png);
  background-position: center;
  background-size: cover;
  position: relative; 
  @include mq(){
    height: 800px;
     box-sizing: border-box;
  }
  .box {
    padding: 30px;
    height: 200px;
    border:1px solid black ;
    position: absolute;
    top: 130px;
    @include mq(md){
      width: 100%;
      box-sizing: border-box;
    }
    @include mq(){
       width:100% ;
       height: 650px;
       padding: 15px;
       box-sizing: border-box;
       display: flex;
       flex-direction: column; 
    }
    
    &-text-one {
      width: 220px;
      float: left;
      height: 170px;
      background-color: black;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq(md){
        width: 150px;
        height: 120px;
        p{
          font-size: .7rem;
        }
      }
      @include mq(){
        width: 100%;
        height: 100px;
        float: none !important;
        box-sizing: border-box;
        p{
          line-height: 1.3;
          letter-spacing: .2rem;
        }
      }
    }
    &-text-two{
      float: left;
      margin: 0 20px;
      width: 650px;
      height: 170px;
      position: relative;
      line-height: 2;
      @include mq(md){
        width: 50%;
        height: 140px;
        p{
          font-size: .7rem;
        }
      }
      @include mq(){
        float: none !important;
        width: 100%;
        height: 300px;
        margin: 20px auto 0 ;
        box-sizing: border-box;
      }
      .detail{
        bottom: -30px;
        @include mq(){
        margin-top: 20px;
        bottom: 0;
        display: block;
        text-align: center;
         box-sizing: border-box;
      }
        a{
          color: red;
          text-decoration: underline;
        }
      }
    }
    &-image{
      width: 220px;
      float: left;
      height: 170px;
      @include mq(md){
        width: 150px;
        height: 130px;
      }
      @include mq(){
        width: 100%;
        float: none !important;
        height:170px;
        margin: 0 auto 30px;
      }
      img{
        width: 220px;
        height:160px ;
        margin-bottom: 5px;
        @include mq(md){
          width: 160px;
          height: 120px;
        }
        @include mq(){
        width: 100%;
        margin: 0 auto 10px;
         box-sizing: border-box;
      }
      }
      p{
        font-size: 0.7rem;
        background-color: black;
        color: #fff;
        padding: 7px 2px;
        text-align: center;
        border-radius: 3px;
        @include mq(md){
          border-radius: 1px;
          width: 155px;
        }
      }
    }
  }
}
//----------------
//スライダー＋宿泊検索
//----------------
.bg-slider{
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
  justify-content: center;
  @include mq(){
    display: none;
  }
  }
  .container-slider-and-reservation{
  /*background-image: url(../imgs/sample4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  height: 800px;
  @include mq(md){
    height: 500px;
  }
  .contents{
    width: 100%;
    position: relative;
    &-top{
      position: absolute;
       top: -200px;
       left: 45%;
      width: 100px;
      height: 300px;
      margin: 0 auto;
      @include mq(md){
        left:40%;
      }
      @include mq(){
        left:35%;
        top:-350px;
      }
      h2{
        writing-mode: vertical-rl;
        font-size: 2.5rem;
        color: #fff;
        line-height: 1.2;
        letter-spacing: 1.2;
      }
    }
    &-middle{
      position: absolute;
       top: 0px;
       left: 35%;
       margin: 0 auto;
       @include mq(md){
         left: 25%;
       }
       @include mq(){
        left:15%;
        top:-150px;
      }
      h2{
        font-size: 30px;
        color: #fff;
        letter-spacing: 5px;
        line-height: 1.3;
         @include mq(){
        font-size: 22px;
       }
      }
    }
    &-bottom{
      position: absolute;
       top: 100px;
       left: 35%;
       margin: 0 auto;
       @include mq(md){
         left: 25%;
       }
       @include mq(){
         top: 100px;
         left: 14%;
       }
      a{
        display: block;
        color: #fff;
        background-color: black;
        border: 1px solid #fff;
        padding: 10px 15px;
        width: 400px;
        text-align: center;
         @include mq(){
         width: 300px;
          box-sizing: border-box;
          font-size: .9rem;
       }
      }
    }
    //----------------
    //検索1個目
    //----------------
    .reservation-one{
      position: absolute;
       top: 300px;
       left: 25%;
       @include mq(md){
         top: 160px;
         left: 18%;
       }
       @include mq(){
         top: 220px;
         left: 17%;
       }
       .calender{
         width: 270px;
         height: 50px;
         padding-right:1px ;
         padding-left: 0;
        font-size: 20px;
        text-align: center;
        margin-bottom: 2px;
        @include mq(md){
          width: 240px;
          height: 40px;
          font-size: 15px;
        }
       }
       .stay-days{
         width: 130px;
         height: 50px;
         padding-right:1px ;
         padding-left: 0;
         font-size: 20px;
         text-align: center;
         position: relative;
        @include mq(md){
          width: 100px;
          height: 40px;
          font-size: 15px;
        }

         @include mq(){
         width:135px;
         } 
       }
       .how-many{
         width: 130px;
         height: 50px;
         padding-right:1px ;
         padding-left: 0;
         font-size: 20px;
         text-align: center;
        @include mq(md){
          width: 100px;
          height: 40px;
          font-size: 15px;
        }
          @include mq(){
         width:134px;
         margin-left: -3px;
        } 
       }
       .search{
         width: 200px;
         height: 50px;
         display: inline-block;
         background-color: black;
         color: #fff;
         font-size: 20px;
         padding: 1px 6px;
         text-align: center;
         line-height: 50px;
         position: absolute;
         left: 545px;
         box-sizing: border-box;
         border: none;
         @include mq(md){
           width: 100px;
           height: 40px;
           line-height: 40px;
           font-size: 15px;
           left: 450px;
         }
         @include mq(){
           display: block;
           width: 269px;
           left: 0;
           box-sizing: border-box;
           margin-top: 2px;
         }
       }
    }
  }
}
//----------------
//キャンペーン&アカウント
//----------------
.account-top-bg-image{
  height: 30px;
  background-image: url(../imgs/bg-image.png);
  background-position: center;
  background-size: cover;
}
.container-account{
  .account-box{
    display: flex;
    justify-content: space-around;
    padding-top: 50px; 
    padding-bottom:60px ;
    @include mq(){
      flex-direction: column;
      box-sizing: border-box;
       padding-bottom:30px ;
    }
    .campain{
      @include mq(){
      margin-bottom: 10px;
      box-sizing: border-box;
    }
      a{
        color: #fff;
        display: block;
        line-height: 1.3;
        padding: 10px 15px;
        box-sizing: border-box;
        width: 400px;
        text-align: center;
        background-color: black;
        @include mq(md){
          width: 320px;
        }
        @include mq(){
          width: 90%;
          font-size: .8rem;
          margin:0 auto ;
        }
      }
    }
    .account{
      a{
        color: #fff;
        display: block;
        line-height: 1.3;
        padding: 10px 15px;
        box-sizing: border-box;
        width: 400px;
        text-align: center;
         background-color: black;
         @include mq(md){
           width: 320px;
           padding: 10px 25px;
         }
         @include mq(){
           width: 90%;
          font-size: .8rem;
          margin:0 auto ;
        }
      }
    }
  }
}
//----------------
//詳細
//----------------
.container-detail{
    padding-bottom: 100px; 
  .detail{
    display: flex;
    justify-content: space-around;
     @include mq(){
      align-content: flex-end;
      box-sizing: border-box;
      width: 50%;
      margin: 0 auto;
    }
    &-list{
      width: 300px;
      height:14px;
      border-right: 1px solid #2c1f19 ;
      text-align: center;
       @include mq(){
      margin-bottom:10px ;
      border-right: none;
      box-sizing: border-box;
    }
    }
    
    &-first{
       border-left: 1px solid black;
        @include mq(){
          border-left: none;
          box-sizing: border-box;
    }
    }
    &-link{
      display: inline-block;
      color: black;
    }
  }
}
//----------------
//箱根について
//----------------
.container-about-hakone{
  background-image: url(../imgs/sample_wood.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:110px ;
  margin-bottom: 120px;
   @include mq(){
      height: 1300px;
    }
  .heading{
    h2{
      margin: 0px 0 60px;
      padding: 100px 0 30px;
      font-size: 27px;
      line-height: 1.2;
      text-align: center;
      color: #fff;
      text-shadow:0 0 2px black;
    }
  }
  .variety-top{
     display: flex;
     justify-content:space-around;
     padding-bottom: 60px;
     @include mq(){
      flex-direction: column;
      box-sizing: border-box;
      margin-right: 40px;
      margin-left:40px ;
      padding-bottom: 0;
    }
     .variety-box{
      display: block;
      position: relative;
      color: #fff;
      border: 1px solid darkgrey;
      padding: 2px 2px 1px ;
      @include mq(){
      height: 170px;
      margin-bottom: 30px;
    }
      &-theme{
        font-size: 1.6rem;
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px solid #fff;
        padding: 5px;  
          @include mq(md){
            font-size: 1.2rem;
            top: 20px;
          }
           @include mq(){
          box-shadow: 0 0 2px black;
    }
      }
      &-image{
        width: 560px;
        height: 300px;
        @include mq(md){
          width: 330px;
          height: 200px;
        }
        @include mq(){
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
      }
      &-text{
        font-size: 1.2rem;
        position: absolute;
        bottom:30px ;
        left: 30px;
        @include mq(){
      text-shadow: 0 0 1px black;
    }
      }
     }

  }
  .variety-bottom{
      display: flex;
     justify-content:space-around;
     @include mq(){
      flex-direction: column;
      box-sizing: border-box;
      margin-right: 40px;
      margin-left:40px ;
    }

     .variety-box{
       display: block;
      position: relative;
      color: #fff;
      border: 1px solid darkgrey;
      padding: 2px 2px 1px ;
       margin-bottom: 30px;
      &-theme{
        font-size: 1.6rem;
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px solid #fff;
        padding: 5px;
         @include mq(md){
           font-size: 1rem;
           top: 20px;
           left: 20px;
         }
         @include mq(){
      box-shadow: 0 0 2px black;
    }
      }
      &-image{
        width: 360px;
        height: 280px;
         @include mq(md){
          width: 200px;
          height: 150px;
        }
         @include mq(){
         width: 100%;
         height: 100%;
         box-sizing: border-box;
    }
      }
      &-text{
        font-size: 1.2rem;
        position: absolute;
        bottom:30px ;
        left: 30px;
         @include mq(md){
           font-size: .9rem;
           left: 20px;
         }
         @include mq(){
      text-shadow: 0 0 1px black;
    }
      }
     }

  }
}
//----------------
//プランについて
//----------------
.container-about-plan {
    margin-bottom: 80px;
  .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    @include mq(){
      width: 90%;
      margin: 0 auto 60px;
    }
    h2{
      margin-bottom: 30px;
      font-size: 1.6rem;
       @include mq(){
      font-size: 1.4rem;
    }
    }
    p{
      font-size: 1.2rem;
      border-bottom: 1px dotted black;
      width: 240px;
      margin: 0 auto;
      padding-bottom: 5px;
      text-align: center  ;
      //中身はaタグ　修正の余地あり。
    }
  }
  .plan-recommended{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 80px;
     a{
       display: block;
       width: 585px;
         height: 220px;
          margin: 0 auto;
          border: 1px solid black;
          position: relative;
          @include mq(){
            width: 95%;
            height: 180px;
            box-sizing: border-box;
          }
       img{
         width: 585px;
         height: 220px;
         @include mq(){
            width: 100%;
            height: 180px;
            box-sizing: border-box;
          }
       }
       .thambnail-cover{
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: rgba(255, 255, 255, .2);
         opacity: 0;
         transition: all .3s;
        &:hover{
          opacity: 1;
          transition: all .3s;
          border: 1px solid darkgray;
        } 
       }

     }
  }
  .plan-normal{
    &-menu{
      display: flex;
      @include mq(md){
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      @include mq(){
        flex-direction: column;
        box-sizing: border-box;
      }
      &-list{
        margin-right:1px ;
        @include mq(md){
          margin-bottom: 20px;
        }
        @include mq(){
        margin-bottom: 1px;
      }
        a{
          position: relative; 
          display: block;
          width: 300px;
          height: 350px;
          @include mq(){
          width: 100%;
          box-sizing: border-box;
          }
          .fa-square{
            position: absolute;
            top: 50px;
            left: 139px;
            color: rgba(255, 255, 255, 0.7);
            transform: rotate(45deg);
            @include mq(){
             left: 175px;
          }
          }
          .fa-original{
            position: absolute;
            top: 50px;
            left: 14px;
            color: rgba(255, 255, 255, 0.7);
            transform: rotate(45deg);
            @include mq(){
             left: 185px;
          }
          }
          h4{
            position: absolute;
            top: 40px;
            left: 125px;
            writing-mode: vertical-rl;
            color: rgba(255, 255, 255, 0.7);
            font-size: 1.3rem;
            border: 1px solid #fff ;
            padding: 35px 10px 10px;
            min-height:167px ;
            opacity: .8;
             transition: all .2s;
             @include mq(){
             left: 160px;
          }
            &:hover{
               opacity: .5;
               transition: all .2s;
            }
          }
          img{
            width: 100%;
            height: 100%;
          }
          p{
            position: absolute;
            top: 270px;
            left: 30px;
            color: #fff;
            font-style: italic;
            font-size: 1.2rem;
            line-height: 1.2;
             @include mq(){
             left: 25%;
          }
          }
        }
      }
    }
  }
}
//----------------
//お知らせ２
//----------------
.container-latest-news{
  .c-width{
    width: 800px;
    height: 600px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
    @include mq(md){
      width: 100%;
    }
    @include mq(){
      width: 100%;
      height: 700px;
      box-sizing: border-box;
    }
  }
  .heading{
    padding-top: 50px;
    position: relative;
    .fa-square{
            position: absolute;
            top: 20px;
            left: 400px;
            font-size:35px ;
            color: rgba(58, 54, 54, 0.7);
            transform: rotate(45deg);
           @include mq(){
            left: 45%;
            }
          }
    h2{
      margin:30px 0 30px;
      font-size: 1.7rem;
      text-align: center;
    }
  }
  .table{
    border-collapse: separate;
    border-spacing: 12px 20px;
    &-date{
      color: #fff;
      background-color: black;
      font-size: .7rem;
      margin-right:3px ;
      text-align: center;
      width: 100px;
    }
    &-theme{
      color: #fff;
      background-color: black;
      font-size: .6rem;
      text-align: center;
      width: 120px;
      height: 20px;
      line-height: 20px;
    }
      &-content{
        @include mq(){
          display: none;
        }
        a{
          display: block;
          font-size: .7rem;
          text-decoration: underline;
        }
      }
     &-content-sp{
       display: none;
       @include mq(){
        display: block;
        a{
          display: block;
          font-size: 1rem;
          text-decoration: underline !important;
        }
       }
     } 
  }
  .motto{
    width: 100%;
    a{
      display: block;
      text-align: right;
      border-bottom:2px dotted black ;
      width: 100px;
      padding-bottom: 3px;
      margin-top: 30px;
      font-size: 1.2rem;
       float: right;
       @include mq(md){
         margin-right: 50px;
         font-size: 1rem;
       }
       @include mq(){
         margin-right: 20px;
       }
    }
  }


  
}
//----------------
//おすすめ情報 
//----------------
.container-infor{
  width: 100%;
  height: 550px;
  @include mq(){
      height: 900px;
      box-sizing: border-box;
      
    }
  .heading{
    text-align: center;
    margin: 100px auto 50px;
    h2{
       font-size: 1.7rem;
    }
  }
  .arrow-right,.arrow-left{
    position: relative;
    @include mq(){
      display: none;
    }
  }
  .slider__nav{
  color: black;
  position: absolute;
  top: 180px;
  font-size: 40px !important;
  cursor: pointer;
  z-index: 0;
  }
  .slider__prev{
    left: -20px;
    @include mq(md){
      left: 30px;
      top: 120px;
    }
  }
  .slider__next{
    right: 20px;
    @include mq(md){
      right: -15px;
      top: 120px;
    }
  }
  .flame{
    width: 1200px;
    overflow: hidden;
    @include mq(md){
      width: 85%;
      margin: 0 auto;
    }
    @include mq(){
      overflow: visible;
      width: 100%;
    }
  }
  
  .slider{
    padding: 0;
    overflow: hidden;;
    margin: 0;
    list-style: none;
    position: relative;;
    @include mq(){
      overflow: visible;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    .infor-box{
      float: left;
      @include mq(){
        width: 40%;
        margin-right:10px ;
      }
    }
      .inner-box{
        display: block;
        padding: 0 40px;
        width: 400px;
        box-sizing: border-box;
        position: relative;
        @include mq(md){
          width: 50%;
        }
        @include mq(){
        width: 95%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
      &-date{
        font-size: .85rem;
        @include mq(){
          margin-bottom: 10px;
          margin-left: 10px;
        }
      }
      &-thambnail-cover{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, .2);
            opacity: 0;
            transition: all .3s;
            @include mq(md){
              display: none;
            }
            &:hover{
              opacity: 1;
              transition: all .3s;
              }
      }
      &-image{
        width: 300px;
        height: 320px;
        @include mq(md){
          width: 270px;
          height: 220px;
        }
        @include mq(){
          width: 150px;
          height: 160px;
          border-radius: 15%;
        }
      }
      &-theme{
       width: 100px;
       height: 20px;
       box-sizing: border-box;
       background-color: black;
       color: #fff;
       text-align: center;
       line-height: 20px;
       font-size: 0.9rem;
       margin-bottom: 15px;
       @include mq(){
         font-size: .7rem;
         width: 70px;
         margin-top: 5px;
       }
      }
      &-content{
        font-size: 1.1rem;
        @include mq(){
          font-size: .7rem;
          width: 150px;
        }
      }
     } 
  }
  .motto{
    width: 100%;
    a{
      display: block;
      text-align: right;
      border-bottom:2px dotted black ;
      width: 100px;
      padding-bottom: 3px;
      margin-top: 30px;
      font-size: 1.2rem;
       float: right;
       margin-right: 70px;
       @include mq(){
         font-size: .8rem;
         margin-right: 40px;
       }
    }
  }
}
//----------------
//箱根へGO
//----------------
.container-to-hakone{
  width: 100%;
  margin: 0 auto;
  .heading{
    text-align: center;
    margin: 100px auto 100px;
    h2{
       font-size: 1.7rem;
    }
  }
  .contents-direction{
    height: 700px;
    display: flex;
    @include mq(){
      flex-direction: column;
      box-sizing: border-box;
    }
    &-image{
      background-color: grey;
      width: 600px;
      height: 600px;
      margin-right: 50px;
      @include mq(){
       width: 90%;
       height: 400px;
       margin: 0 auto;
       box-sizing: border-box;
    }
    }
    &-text{
      position: relative;
       width: 600px;
      height: 600px;
       @include mq(){
       width: 100%;
       height: 270px;
       box-sizing: border-box;
    }
      h3{
        font-size: 2rem;
        letter-spacing: .2rem;
        line-height: 1.3;
         @include mq(){
        font-size: 1.2rem;
        box-sizing: border-box;
        text-align: center;
        padding-top:20px ;
        }
      }
      a{
        display: block;
        width: 400px;
        height: 50px;
        background-color: black;
        color: #fff;
        text-align: center;
        line-height: 50px;
         @include mq(){
        width: 200px;
        box-sizing: border-box;
        text-align: center;
        margin: 30px auto 0;
        }
      }
    }
  }
  .contents-ohters{
    width: 100%;
    .menu{
      display: flex;
      justify-content: space-around;
       @include mq(md){
         flex-wrap: wrap;
         justify-content: space-evenly;
       }
       @include mq(){
       flex-direction: column;
       box-sizing: border-box;
       }
      &-link{
        display: block;
        background-color: gray;
        width: 260px;
        height: 110px;
        color: #fff;
        line-height: 110px;
        text-align: center;
        border-radius: 5px;
        position: relative;
        @include mq(md){
          width: 350px;
          margin-bottom: 20px;
        }
        @include mq(){
        margin:0 auto 10px;
        box-sizing: border-box;
        }
        .fa-square{
            position: absolute;
            top: 42px;
            left: 50px;
            color: rgba(255, 255, 255, 0.7);
            transform: rotate(45deg);
            font-size:1.5rem ;
          }
      }
    }
  }
}
//----------------
//インスタ概要
//----------------
.container-instagram {
  width: 100%;
  margin: 0 auto;
   .heading{
    text-align: center;
    margin: 100px auto 100px;
    h2{
       font-size: 1.7rem;
    }
  }
  .img-box{
    display: flex;
    height: 340;
    justify-content: center;
    @include mq(md){
       flex-wrap: wrap;
    }
    margin-bottom: 100px;
    &-indivisual{
      position: relative;
      @include mq(){
        flex-basis: 50%;
      }
      &-text{
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        height: 60px;
        width: 250px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        p{
          padding: 5px 5px;
          letter-spacing: .1rem;
          line-height: 1.3rem;
        }
      }
      img{
      height: 230px;
      width: 250px;
      @include mq(){
        width: 100%;
        height: 100%;
      }
    }
   } 
  }
}
//----------------
//検索2個目
//----------------
.container-search-two{
    //display: flex;
    //justify-content: center;
    background-color: #efecdf;
    height: 100px;
    padding-top: 30px;
    border-bottom: #c6c6c6 1px solid;
    @include mq(){
         height: 180px;
       }
  .reservation-two{
       text-align: center;
       @include mq(){
         top: 220px;
         left: 17%;
       }
       .calender{
         width: 270px;
         height: 50px;
         padding-right:1px ;
         padding-left: 0;
        font-size: 20px;
        text-align: center;
        border: none;
        @include mq(){
          margin-left: 5px;
          margin-bottom: 2px;
         } 
       }
       .stay-days{
         width: 130px;
         height: 50px;
         padding-right:1px ;
         padding-left: 0;
         font-size: 20px;
         text-align: center;
         border: none;
          @include mq(){
          width:135px;
          margin-left: 5px;
          margin-bottom: 2px;
         } 
       }
       .how-many{
         width: 130px;
         height: 50px;
         padding-right:1px ;
         padding-left: 0;
         font-size: 20px;
         text-align: center;
         border: none;
          @include mq(){
         width:134px;
         margin-left: -3px;
        } 
       }
       .search{
         width: 200px;
         height: 50px;
         display: inline-block;
         background-color: black;
         color: #fff;
         font-size: 20px;
         padding: 1px 6px;
         text-align: center;
         line-height: 50px;
         border: none;
         box-sizing: border-box;
          @include mq(){
           display: block;
           width: 269px;
           left: 0;
           box-sizing: border-box;
           margin-left: 15%;
         }
       }
    }
}
//----------------
//お問い合わせ概要
//----------------
.container-contact{
  background-color:#efecdf;
  height: 600px;
  .detail{
     text-align: center;
     padding-top: 50px;
    .name{
       font-size: 1.8rem;
       padding-bottom: 20px;
       span{
         font-size: 3rem;
       }
    }
    .tel{
      display: inline-block;
      font-size:1.5rem ;
      padding-bottom: 5px;
    }
    .center{
      display: inline-block;
      font-size: 1rem;
      padding-bottom: 5px;
    }
    .business-time{
      padding-bottom: 30px;

    }
    .pull-down{
      margin-bottom: 25px;
      &-menu{
        display: flex;
        justify-content: center;
        li{
          margin-right: 20px;
          padding-bottom: 5px;
          border-bottom: 1px solid #c6c6c6 ;
          width: 100px;
        }
      }
    }
    .trip-adviser-logo{
      img{
        width: 150px;
        height: 120px;
      }
    }
    p{
      margin-top: 15px;
      line-height: 2;
      font-size: .7rem;
    }
    .last-sentence{
      @include mq(){
        width: 80%;
        margin:10px auto 0  ;
      }
    }
    .logos{
      display: flex;
      justify-content: center;
      a{
        font-size: 1.5rem;
        padding-right: 10px;
        padding-top: 10px;
      }
    }
  }
}
.footer{
   display: flex;
   justify-content: center;
   padding: 20px 0 0;
   font-size: .8rem;
   margin: 0;
  &-left{
    height: 100px;
    width: 200px;
    .fa-hotel{
      font-size: 50px;
       @include mq(){
       font-size: 100px;
       position: absolute;
       left: 35%;
       opacity: .5;
    }
    }
  }
  &-middle{
    width: 500px;
    ul{
      li{
        margin-bottom: 10px;
      }
    }
    @include mq(){
      z-index: 1;
    }
  }
  &-right{
     @include mq(){
      z-index: 1;
    }
  }
}



